.bookView{
  display: flex;
  flex-direction: column;
  background-color: #fffffc;
  border: 2px solid;
  justify-content: space-around;
  align-items: center; //vertical
  column-gap: 20px;
}

.bookDetails{
  display: flex;
  flex-direction: column;
  border: 2px solid;
  max-width: 40%
}

.imgContainer{
  display: flex;
  border: 2px solid;
  justify-content: center;
  align-content: center
}

.img{
  max-height: auto;
  object-fit: cover;
  justify-content: center;
  align-content: center
}

button{
  background-color: #5b27d8;
}

h3{
  color: #5b27d8
}

@media (min-width: 800px){
  .bookView{
    flex-direction: row;
}
}



