footer{
  border-top: 2px solid #5b27d8;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background-color:#f5f3f4 ;
  p{
    padding: 0px;
    margin: 0px;
    color:#5b27d8
  }
  span{
    margin-top: 5px;
    color: #5b27d8;
    font-size: 0.95rem;
  }
}