@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap.css";

body {
  // position: absolute;
  // top: 0;
  // left: 0;
  max-height: 99vh;
  max-width: 100%;
  margin: 0;
 padding: 0;
  font-family: 'Poppins', sans-serif;
}
.primary-button {
  padding: 5px;
  margin: 5px;
  border: 2px solid #5b27d8;
  border-radius: 5px;
  color: #5b27d8;
  background-color: #f5f3f4;
  text-transform: uppercase;
  font-weight: bold;
}
.secondary-button {
  padding: 5px;
  margin: 5px;
  border: 2px solid #5b27d8;
  border-radius: 5px;
  color: #f5f3f4;
  background-color: #5b27d8;
  font-weight: bold;
  text-transform: uppercase;
}
