@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  font-family: 'Poppins';
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5b27d8;
  opacity: 80%;
  // background-color: #ddd;
  color: black;
}

.topnav a:active  {
  color:#5b27d8;
  // text-decoration: none;
  // margin: 1rem;
}
/* Style the "active" element to highlight the current page */
// .topnav a.active {
//   background-color: #2196F3;
//   color: white;
// }

.searchContainer {
  float: right;
  display: flex;
  flex-direction: row;
}

.navform{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
}

/* Style the search box inside the navigation bar */
input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-right: -1px;
  font-size: 17px;
}

.formIcon {
  float: right;
  align-items: center;
  margin-right: 16px;
  font-size: 17px;

  color: unset!important;
  border: unset;
  background-color: unset;
  border-color: unset !important;
  border-radius: unset !important;
  cursor: pointer;
}

.imgsearch {
  height: 31.5px;
  border: unset;
  padding-top: 4px;
  color: unset!important;
  border-color: unset !important;
  border-radius: unset !important;

}

// button{
   
//   }



.topnav .searchContainer button:hover {
  // background: #ccc;
  background-color: #5b27d8;

}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}