.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  text-align: center;
  padding: 20px;
  background-image: radial-gradient(#f5f3f4b8, white);
  img {
    height: 250px;
    width: auto;
    object-fit: cover;
  }
  h2,
  h3 {
    font-family: 'Poppins', sans-serif;
    color: #5b27d8;
  }
  .tokenContainer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: fit-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;

    .tokenimg {
      width: 100%;
      height: auto;
    }
    .caption {
      text-align: center;
      padding: 10px 20px;
    }
  }
  .bookContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.39);
  }

}
